.container {
    margin-bottom: 40px;
}

.orange-bg {
    background-color: #fceae8;
    border-radius: 8px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #ff136f;
}

.buy-now-button {
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9x 25px;
    height: 35px;
    width: 85spx;
    cursor: pointer;
}

.ct1,
.ct2,
.ct3 {
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
}

.ct1 {
    /* background-color: orange; */
    background: #fc4a1a;
    background: linear-gradient(to left, #f7b733, #fc4a1a);
}

.ct2 {
    /* background-color: orchid; */
    background: #f953c6;
    background: linear-gradient(to right, #b91d73, #f953c6);
}

.ct3 {
    /* background-color: blue; */
    background: #000046;
    background: linear-gradient(to left, #1CB5E0, #000046);
}

.categories img {
    width: 100px;
}

.card{
    border: none;
    /* border-radius: 8px; */
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer{
    background-color: white;
    border-top:none;
}


#subscribe{
    height: 200px;
}

#sub-id{
    margin-top: 5px;
}

footer{
    text-align: center;
}